@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.cell {
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
    background-color: #1d1d1d;

    &-player1 {
        background-color: #ff4c4c;
        color: black;
    }

    &-player2 {
    background-color: #ff4c4c;
    color: black;
    }

    &-highlighted {
        background-color: #f9f871;
        color: black;
    }

    .cell-id {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    @include tablet {
        width: 6rem;
        height: 6rem;
    }
}