@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.Home {
    background-color: black;
    margin: -1rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 3rem;

    &__title {
        font-size: 3rem;
        padding-left: 2rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        font-family: "Arcade";

        @include desktop {
            font-size: 6rem;
        }
    }

    &__subtitle {
        font-size: 1.4rem;
        font-weight: normal;
        width: 95%;

        @include desktop {
            font-size: 2rem;
            width: 100%;
        }
    }
}


.names {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &--player {
            margin-bottom: 1.5rem;
        }

        &--label {
            font-size: 1.2rem;
            margin-right: 2rem;

            @include desktop {
                font-size: 2rem;
            }
        }

        &--input {
            padding: 0.5rem;
            font-size: 1rem;
            border: none;
            border-radius: 4px;
            outline: none;
            width: 12rem;
            
            @include desktop {
                width: 15rem;
                font-size: 1.5rem;
            }
        }

        // &--buttons {
        //     display: flex;
        //     flex-direction: column;
        // }

        &--button--submit {
            margin-top: 1rem;
            margin-bottom: .5rem;
            padding: 0.5rem 1rem;
            font-size: 1.5rem;
            border: none;
            border-radius: 4px;
            width: 14rem;
            outline: none;
            background-color: #4CAF50;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-family: "Arcade";

            &:hover {
                background-color: #2d6f30;
            }
        }

        &--button--instructions {
            margin-top: .5rem;
            margin-bottom: 2rem;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            border-radius: 4px;
            width: 14rem;
            outline: none;
            background-color: #f44336;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-family: "Arcade";

            &:hover {
                background-color: #9a261e;
            }
        }
    }
}

.instructions-panel {
    width: 90%;
    padding: .5rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #1d1d1d;
    border-radius: 4px;
    margin-bottom: 2rem;
    font-size: 1rem;
    overflow-y: auto;
    max-height: 15rem;
    transition: transform 0.3s ease;
    text-align: left;

    ul {
        padding-inline-start: 1rem;
        text-align: left;
    }

    li {
        padding-bottom: .5rem;
    }

    &--final {
        text-align: center;
    }
}

