@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.action-log {
    background-color: #1d1d1d;
    padding: .5rem;
    padding-top: 0;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    color: #fff;
    max-height: 15rem;
    width: 10rem;
    overflow-y: auto;
    margin-bottom: 2rem;

    @include desktop {
        padding: 1rem;
        width: 16.5rem;
        max-height: 30rem;
    }

    &__header {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;

        &--title {
            font-size: .8rem;
            font-weight: bold;
            font-family: "Arcade";

            @include desktop {
                font-size: 1.6rem;
            }
        }
    }

    &__list {
        padding: 0;
        margin: 0;

        &--item {
            font-size: .8rem;
            margin-bottom: 0.2rem;
            margin-left: 1.4rem;

            @include desktop {
                font-size: 1rem;
                margin-bottom: 0.6rem;
                padding-left: .2rem;
            }
        }
    }
}