@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1d;
    padding: .5rem;
    padding-top: 0;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    color: #fff;
    width: 16rem;
    margin-bottom: .5rem;
    
    @include desktop {
        padding: 1rem;
        width: 17rem;
        margin-bottom: 2rem;
    }
}

.reference {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
    
    @include desktop {
        margin-bottom: 1.6rem;
        flex-direction: column;
    }

    &__header {
        text-align: center;
        
        &--text {
            font-size: 1rem;
            font-weight: bold;
            font-family: "Arcade";

            @include desktop {
                font-size: 1.5rem;
            }
        }
    }

    &__column {
        display: flex;

        @include desktop {
            flex-direction: column;
        }
    }

    &__row {
        margin-bottom: .2rem;
        margin-right: .1rem;
        margin-left: .1rem;
        

        @include desktop {
            margin-bottom: 0.8rem;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__label {
        font-size: 1rem;
        font-weight: bold;

        @include desktop {
            font-size: 1.4rem;
        }
    }

    &__button {
        display: block;
        width: 100%;
        padding: 0.6rem;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: background-color 0.5s ease;

        @include desktop {
            font-size: 1.4rem;
        }

        &:disabled {
            background-color: #888;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background-color: #f44336;
        }
    }
}

.skip {
    display: flex;
    align-items: flex-end;
    margin-top: auto;

    button {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
        font-weight: bold;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: background-color 0.5s ease;

        @include desktop {
            font-size: 1.4rem;
        }

        &:hover {
            background-color: #2d6f30;
        }
    }
}