@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.map {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(4, 4rem);
    margin-top: -5rem;

    @include desktop {
        grid-template-columns: repeat(4, 6rem);
        grid-template-rows: repeat(4, 6rem);    
    }
}