@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.map {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(4, 4rem);

    @include desktop {
        grid-template-columns: repeat(4, 6rem);
        grid-template-rows: repeat(4, 6rem);    
    }
}

.map__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.turn-text {
    margin-top: -13rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    
    @include desktop{
        margin-top: -15rem;
        margin-bottom: 3rem;
        font-size: 1.2rem;
    }
}