@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.win-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -1rem;
    background-color: #1d1d1d;
    font-family: "Arcade";
    width: 100%;
    height: 100%;
    position: fixed;
    
    &__text {
        font-size: 3rem;
        text-align: center;
        color: #fff;
        margin-bottom: 3rem;
        
        @include desktop {
            margin-bottom: 6rem;
            font-size: 6rem;
        }
    }
}

.restart-button {
    padding: .8rem 2rem;
    font-size: .8rem;
    background-color: #f44336;
    color: #fff;
    font-family: "Arcade";
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem;

    @include desktop {
        font-size: 1.2rem;
    }

    &:hover {
        background-color: #4caf50;
    }
}
