@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.win-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: -1rem;
    background-color: #1d1d1d;
    font-family: "Arcade";
    
    &__text {
    font-size: 6rem;
    color: #fff;
    margin-bottom: 6rem;
    margin-top: -6rem;
    }
}

.restart-button {
    padding: .8rem 2rem;
    font-size: 1.2rem;
    background-color: #f44336;
    color: #fff;
    font-family: "Arcade";
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #4caf50;
    }
}
